<div class="github-card" data-user="daishihmr" data-theme="medium" width="270px"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<div class="widget">
  <div class="entry">
  JavaScriptゲーム作りマン+MagicaVoxelでキャラ作るマン。<br>
  プリキュア好き。<br>
  phina.js好き。<br>
  シューティングゲーム好き。<br>
  ビール好き。<br>
  能登麻美子と結婚したい。<br>
  </div>
</div>
